################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SiteAsientos/.vs/SiteAsientos/FileContentIndex
/SiteAsientos/.vs/ProjectEvaluation/siteasientos.metadata.v8.bin
/SiteAsientos/.vs/ProjectEvaluation/siteasientos.projects.v8.bin
/SiteAsientos/.vs/ProjectEvaluation/siteasientos.strings.v8.bin
/SiteAsientos/.vs/SiteAsientos/DesignTimeBuild/.dtbcache.v2
/SiteAsientos/.vs/SiteAsientos/v17/.futdcache.v2
