################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SiteAsientos/.vs/SiteAsientos/FileContentIndex
/SiteAsientos/.vs/ProjectEvaluation/siteasientos.strings.v8.bin
/SiteAsientos/.vs/ProjectEvaluation/siteasientos.projects.v8.bin
/SiteAsientos/.vs/ProjectEvaluation/siteasientos.metadata.v8.bin
/SiteAsientos/SiteAsientos/obj/Debug/net8.0/SiteAsientos.AssemblyInfoInputs.cache
/SiteAsientos/SiteAsientos/obj/Debug/net8.0/SiteAsientos.assets.cache
/SiteAsientos/SiteAsientos/obj/Debug/net8.0/SiteAsientos.csproj.AssemblyReference.cache
/SiteAsientos/SiteAsientos/obj/Debug/net8.0/SiteAsientos.GeneratedMSBuildEditorConfig.editorconfig
/SiteAsientos/.vs/SiteAsientos/DesignTimeBuild/.dtbcache.v2
/SiteAsientos/SiteAsientos/obj/SiteAsientos.csproj.nuget.dgspec.json
/SiteAsientos/SiteAsientos/obj/SiteAsientos.csproj.nuget.g.props
/SiteAsientos/SiteAsientos/obj/project.nuget.cache
/SiteAsientos/SiteAsientos/obj/project.assets.json
/SiteAsientos/.vs/SiteAsientos/v17
/SiteAsientos/SiteAsientos/obj/Debug/net9.0/compressed/1sf1zvxjet-unj9p35syc.gz
/SiteAsientos/SiteAsientos/obj/Debug/net9.0/compressed/1vc3pio053-b4skse8du6.gz
/SiteAsientos/SiteAsientos/obj/Debug/net9.0/compressed/2nmbff652c-47otxtyo56.gz
/SiteAsientos/SiteAsientos/obj/Debug/net9.0/compressed/3nbiqt44j4-l2av4jpuoj.gz
/SiteAsientos/SiteAsientos/obj/Debug/net9.0/compressed/4eqtpxut65-um2aeqy4ik.gz
/SiteAsientos/SiteAsientos/obj/Debug/net9.0/compressed/b15a6019jf-pzqfkb6aqo.gz
/SiteAsientos/SiteAsientos/obj/Debug/net9.0/compressed/ctsp4ct09r-bpk8xqwxhs.gz
/SiteAsientos/SiteAsientos/obj/Debug/net9.0/compressed/d3xpqafywb-n1oizzvkh6.gz
/SiteAsientos/SiteAsientos/obj/Debug/net9.0/compressed/dtp80ig3po-q2ku51ktnl.gz
/SiteAsientos/SiteAsientos/obj/Debug/net9.0/compressed/eait2ifyl4-ve6x09088i.gz
/SiteAsientos/SiteAsientos/obj/Debug/net9.0/compressed/eq7fyj20vt-7na4sro3qu.gz
/SiteAsientos/SiteAsientos/obj/Debug/net9.0/compressed/fgx7s7wy9n-npxfuf8dg6.gz
/SiteAsientos/SiteAsientos/obj/Debug/net9.0/compressed/gabhae4cfu-9b9oa1qrmt.gz
/SiteAsientos/SiteAsientos/obj/Debug/net9.0/compressed/h6n6ka8158-m39kt2b5c9.gz
/SiteAsientos/SiteAsientos/obj/Debug/net9.0/compressed/i1o474dpks-f8imaxxbri.gz
/SiteAsientos/SiteAsientos/obj/Debug/net9.0/compressed/imtzqsr6yl-dd6z7egasc.gz
/SiteAsientos/SiteAsientos/obj/Debug/net9.0/compressed/in578ca8no-4v8eqarkd7.gz
/SiteAsientos/SiteAsientos/obj/Debug/net9.0/compressed/k7qeazyxjv-agp80tu62r.gz
/SiteAsientos/SiteAsientos/obj/Debug/net9.0/compressed/k8gpowe85n-25iw1kog22.gz
/SiteAsientos/SiteAsientos/obj/Debug/net9.0/compressed/njl0f0qsce-fwhahm2icz.gz
/SiteAsientos/SiteAsientos/obj/Debug/net9.0/compressed/o9h0g5nwzc-b7iojwaux1.gz
/SiteAsientos/SiteAsientos/obj/Debug/net9.0/compressed/ovek30zlks-tey0rigmnh.gz
/SiteAsientos/SiteAsientos/obj/Debug/net9.0/compressed/pxosrnr2sr-u3xrusw2ol.gz
/SiteAsientos/SiteAsientos/obj/Debug/net9.0/compressed/sj6wq6a1l3-0wve5yxp74.gz
/SiteAsientos/SiteAsientos/obj/Debug/net9.0/compressed/tbkab2otby-o4kw7cc6tf.gz
/SiteAsientos/SiteAsientos/obj/Debug/net9.0/compressed/xh4ag3upv1-zwph15dxgs.gz
/SiteAsientos/SiteAsientos/obj/Debug/net9.0/compressed/xn2ovffsd1-16095smhkz.gz
/SiteAsientos/SiteAsientos/obj/Debug/net9.0/compressed/zpb53fbvb4-mpyigms19s.gz
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/SiteAsientos.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/SiteAsientos.exe
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/SiteAsientos.pdb
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/SiteAsientos.staticwebassets.endpoints.json
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/SiteAsientos.staticwebassets.runtime.json
/SiteAsientos/.vs/ProjectEvaluation/siteasientos.metadata.v9.bin
/SiteAsientos/.vs/ProjectEvaluation/siteasientos.projects.v9.bin
/SiteAsientos/.vs/ProjectEvaluation/siteasientos.strings.v9.bin
/SiteAsientos/SiteAsientos/obj/Debug/net9.0/SiteAsientos.AssemblyInfoInputs.cache
/SiteAsientos/SiteAsientos/obj/Debug/net9.0/SiteAsientos.assets.cache
/SiteAsientos/SiteAsientos/obj/Debug/net9.0/SiteAsientos.csproj.AssemblyReference.cache
/SiteAsientos/SiteAsientos/obj/Debug/net9.0/SiteAsientos.csproj.CoreCompileInputs.cache
/SiteAsientos/SiteAsientos/obj/Debug/net9.0/SiteAsientos.csproj.FileListAbsolute.txt
/SiteAsientos/SiteAsientos/obj/Debug/net9.0/SiteAsientos.dll
/SiteAsientos/SiteAsientos/obj/Debug/net9.0/SiteAsientos.GeneratedMSBuildEditorConfig.editorconfig
/SiteAsientos/SiteAsientos/obj/Debug/net9.0/SiteAsientos.genruntimeconfig.cache
/SiteAsientos/SiteAsientos/obj/Debug/net9.0/SiteAsientos.pdb
/SiteAsientos/SiteAsientos/obj/Debug/net9.0/SiteAsientos.sourcelink.json
/SiteAsientos/SiteAsientos/obj/Debug/net9.0/staticwebassets.build.endpoints.json
/SiteAsientos/SiteAsientos/obj/Debug/net9.0/staticwebassets.build.json
/SiteAsientos/SiteAsientos/obj/Debug/net9.0/staticwebassets.development.json
/SiteAsientos/SiteAsientos/obj/Debug/net9.0/staticwebassets.pack.json
/SiteAsientos/SiteAsientos/obj/Debug/net9.0/staticwebassets.upToDateCheck.txt
/SiteAsientos/.vs/SiteAsientos/v17/.futdcache.v2
/SiteAsientos/.vs/SiteAsientos/v17/.suo
/SiteAsientos/.vs/SiteAsientos/v17/DocumentLayout.json
/SiteAsientos/SiteAsientos/obj/Debug/net9.0/apphost.exe
/SiteAsientos/SiteAsientos/obj/Debug/net9.0/staticwebassets/msbuild.SiteAsientos.Microsoft.AspNetCore.StaticWebAssetEndpoints.props
/SiteAsientos/SiteAsientos/obj/Debug/net9.0/staticwebassets/msbuild.SiteAsientos.Microsoft.AspNetCore.StaticWebAssets.props
/SiteAsientos/SiteAsientos/obj/Debug/net9.0/ref/SiteAsientos.dll
/SiteAsientos/.vs/SiteAsientos/DesignTimeBuild/.dtbcache.v2
/SiteAsientos/SiteAsientos/obj/Debug/net9.0/SiteAsientos.AssemblyInfo.cs
/SiteAsientos/SiteAsientos/obj/Debug/net9.0/refint/SiteAsientos.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/af/Humanizer.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/ar/Humanizer.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/cs/Humanizer.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.Features.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.Scripting.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/bn-BD/Humanizer.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/de/Humanizer.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.Features.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.Scripting.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/es/Humanizer.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.Features.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.Scripting.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/fr/Humanizer.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.Features.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.Scripting.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/it/Humanizer.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.Features.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.Scripting.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/ja/Humanizer.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.Features.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.Scripting.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.Features.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.Scripting.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/pl/Humanizer.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.Features.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.Scripting.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.Features.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.Scripting.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/ru/Humanizer.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.Features.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.Scripting.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/tr/Humanizer.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.Features.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.Scripting.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/zh-Hans/Humanizer.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.Features.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.Scripting.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/zh-Hant/Humanizer.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.Features.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.Scripting.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/az/Humanizer.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/bg/Humanizer.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/da/Humanizer.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/el/Humanizer.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/fa/Humanizer.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/fi-FI/Humanizer.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/fr-BE/Humanizer.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/he/Humanizer.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/hr/Humanizer.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/zh-CN/Humanizer.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/uz-Latn-UZ/Humanizer.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/uz-Cyrl-UZ/Humanizer.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/uk/Humanizer.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/vi/Humanizer.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/sv/Humanizer.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/sr-Latn/Humanizer.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/sk/Humanizer.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/sl/Humanizer.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/sr/Humanizer.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/ro/Humanizer.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/nb/Humanizer.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/nb-NO/Humanizer.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/pt/Humanizer.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/ms-MY/Humanizer.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/mt/Humanizer.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/nl/Humanizer.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/lv/Humanizer.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/ku/Humanizer.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/ko-KR/Humanizer.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/is/Humanizer.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/id/Humanizer.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/hy/Humanizer.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/hu/Humanizer.resources.dll
/SiteAsientos/SiteAsientos/bin/Debug/net9.0/th-TH/Humanizer.resources.dll
/SiteAsientos/SiteAsientos/obj/Debug/net9.0/staticwebassets/msbuild.build.SiteAsientos.props
/SiteAsientos/SiteAsientos/obj/Debug/net9.0/staticwebassets/msbuild.buildMultiTargeting.SiteAsientos.props
/SiteAsientos/SiteAsientos/obj/Debug/net9.0/staticwebassets/msbuild.buildTransitive.SiteAsientos.props
/SiteAsientos/SiteAsientos/obj/Debug/net9.0/SiteAsie.1784A04C.Up2Date
