@model SiteAsientos.Models.Design

<div class="col-md-4">
    <div class="gallery_box">
        <div class="gallery_img"><img src="https://4knines.com/cdn/shop/files/FontSeatCover.webp?v=1722448467" alt="img-blur-shadow" class="img-fluid shadow border-radius-lg"></div>
        <h3 class="types_text">@Model.Design_Description</h3>
        <p class="looking_text">¢@Model.Design_Price</p>
    </div>
</div>
