@model SiteAsientos.Models.Material

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    var HeaderTitle = "Editar Material";
}

@* <h1>Edit</h1>

<h4>Material</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Material_Id" />
            <div class="form-group">
                <label asp-for="Material_Name" class="control-label"></label>
                <input asp-for="Material_Name" class="form-control" />
                <span asp-validation-for="Material_Name" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Material_Status" /> @Html.DisplayNameFor(model => model.Material_Status)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div> *@

<div class="row">
<div class="col-12">
    <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                    <h6 class="text-white text-capitalize ps-3">@HeaderTitle</h6>
            </div>
        </div>
        <div class="card-body px-0 pb-2">
                <div class="row">
                    <div class="col-md-6 w-15 m-2">
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Material_Id" />
                            <div class="form-control">
                                <label asp-for="Material_Name"></label>
                                <input asp-for="Material_Name" class="form-control border border-primary" />
                                <span asp-validation-for="Material_Name" class="text-danger"></span>
                            </div>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="Material_Status" /> @Html.DisplayNameFor(model => model.Material_Status)
                                </label>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Guardar" class="btn btn-primary" />
                                <a asp-action="Index" class="btn btn-primary">Volver</a>
                            </div>
                        </form>
                    </div>
                </div>
        </div>
    </div>
</div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
