@model SiteAsientos.Models.Product

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Product_Id" />
            <div class="form-group">
                <label asp-for="Product_OrderId" class="control-label"></label>
                <select asp-for="Product_OrderId" class="form-control" asp-items="ViewBag.Product_OrderId"></select>
                <span asp-validation-for="Product_OrderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product_DesignId" class="control-label"></label>
                <select asp-for="Product_DesignId" class="form-control" asp-items="ViewBag.Product_DesignId"></select>
                <span asp-validation-for="Product_DesignId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product_SupplierId" class="control-label"></label>
                <select asp-for="Product_SupplierId" class="form-control" asp-items="ViewBag.Product_SupplierId"></select>
                <span asp-validation-for="Product_SupplierId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Product_Embroidery" /> @Html.DisplayNameFor(model => model.Product_Embroidery)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
